# =========================
# UNITY (Dossiers à ignorer)
# =========================
# Unity project is inside /ZeldaLike
/ZeldaLike/[Ll]ibrary/
/ZeldaLike/[Tt]emp/
/ZeldaLike/[Oo]bj/
/ZeldaLike/[Ll]ogs/
/ZeldaLike/[Bb]uild/
/ZeldaLike/[Bb]uilds/
/ZeldaLike/[Uu]ser[Ss]ettings/
/ZeldaLike/[Mm]emoryCaptures/

# =========================
# UNITY (Fichiers générés)
# =========================
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
sysinfo.txt

# Fichiers .meta liés aux fichiers compilés ignorés
*.pidb.meta
*.pdb.meta
*.mdb.meta

# =========================
# VISUAL STUDIO CODE
# =========================
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/
.vs/

# =========================
# macOS
# =========================
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# =========================
# WINDOWS
# =========================
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.cab
*.lnk
Desktop.ini
ZeldaLike/Assets/MeshingunStudio/StylizedVillageFatpack/URP/StylizedFatpackURP.unitypackage
ZeldaLike/Assets/MeshingunStudio/StylizedVillageFatpack/BuiltIN/StylizedFatpackBuiltin.unitypackage
ZeldaLike/Assets/MeshingunStudio/StylizedVillageFatpack/URP/StylizedFatpackURP.unitypackage.meta
ZeldaLike/Assets/MeshingunStudio/StylizedVillageFatpack/BuiltIN/StylizedFatpackBuiltin.unitypackage.meta
